extends layout

block content
  .notification
    if updated
      h3 Updated proposal!

  h1 Proposal ##{number}

  hl
  form(method='POST' action=`/proposals/${number}/review`)
    div
      label(for='review') Edit Your Review
      div
        i These notes are intended only for internal communication.
      textarea#review(name='review', type='text') #{review.review}
    div
      div Score (previous: #{review.score})
      div
        i 1 is "don't want", 5 is "want this in our program"
      label(for='score-1') 1:
      input#score-1(name='score', type='radio', value='1')
      label(for='score-2') 2:
      input#score-2(name='score', type='radio', value='2')
      label(for='score-3') 3:
      input#score-3(name='score', type='radio', value='3')
      label(for='score-4') 4:
      input#score-4(name='score', type='radio', value='4')
      label(for='score-5') 5:
      input#score-5(name='score', type='radio', value='5')
    div
      div
        i Sometimes, proposals are clearly low-effort, vendor pitches, or otherwise unsuited for the program. These should be removed from further discussion. You can vote to remove this talk by checking this box. Talks that receive two "discard" votes will be taken out of consideration, so please use judiciously.
      label(for='discard') Vote to remove? (previous: #{review.discard ? "yes" : "no"})
      input#discard(name='discard', type='checkbox')


    div.hidden
      input(name='reviewer' type='hidden' value=`${user.username}`)
      input(name='proposal' type='hidden' value=`${number}`)
      input(name='reviewID' type='hidden' value=`${id}`)

    button(type='submit') Update your review


  div
    a(href=`/proposals/${number}/reviews`) Back to all reviews for this proposal
