extends layout

block content
  h1 GoCon Talks from Papercall
  h3 Talks I need to review
  if mine.length == 0
    p Nothing yet!
  else
    if pending.length == 0
      p You've done all your homework! Hurrah!
    else
      p Remaining: #{pending.length}
      ul
        each talk in pending
          li
            a(href=`/proposals/${talk.id}`) [##{talk.id}] #{talk.title}


  br
  h3 Talks I have reviewed
  p Completed: #{completed.length}
  i Note: Talks you review, that aren't assigned to you, won't show up here
  ul
    each talk in completed
      li
        a(href=`/proposals/${talk.id}`) [##{talk.id}] #{talk.title}
  br
  h3 Other talks:
  p Total submissions: #{others.length}
  ul
    each talk in others
      li
        a(href=`/proposals/${talk.id}`) [##{talk.id}] #{talk.title}
