extends layout

block content
  div.notification
    if updated
      div.bg-red-100.border-red-400.text-red-700.px-4.py-3.rounded.relative.mb-2
        h3 Updated review!
    if message
      div.bg-red-100.border-red-400.text-red-700.px-4.py-3.rounded.relative.mb-2
        h3= message

  div.bg-white.shadow-lg.rounded.p-6.mb-6
    h1.text-xl Review for Proposal ##{number}
    div.grid.grid-cols-6
      div.col-span-1 Written by
      div.col-span-5 #{review.reviewer}
    div.grid.grid-cols-6
      div.col-span-1 Score
      div.col-span-5 #{review.score}
    div.grid.grid-cols-6
      div.col-span-1 Review
      div.col-span-5 #{review.review}
    div.grid.grid-cols-6
      div.col-span-1 Voted to discard?
      div.col-span-5 #{review.discard ? "Yes" : "No"}

    div.mt-3.pb-4
      if review.reviewer == user.username
        div.float-left
          a.text-blue-500(class="hover:text-red-500 active:text-red-500" href=`/proposals/${number}/review/${id}/edit`) Edit this review
      div.float-right
        a.text-blue-500(class="hover:text-red-500 active:text-red-500" href=`/proposals/${number}/reviews`) See other reviews for this talk
