extends layout

block content
  .notification
    if updated
      h3 Updated review!

  h1 Review for Proposal ##{number}

  p Written by: #{review.reviewer}
  p Score: #{review.score}
  p Review: #{review.review}

  p Voted to discard: #{review.discard ? "yes" : "no"}

  div
    a(href=`/proposals/${number}/review/${id}/edit`) Edit this review
  div
    a(href=`/proposals/${number}/reviews`) See other reviews for this talk
