extends layout

block content
  .notification
    if updated
      h3 Updated proposal!

  h1 Proposal ##{number}
  p Title: #{proposal.title}
  p Abstract: #{proposal.abstract}
  p Description: #{proposal.description}
  p Notes: #{proposal.notes}
