extends layout

block content
  div.bg-white.shadow-lg.rounded.p-6.mb-6.pb-16
    h1.text-xl Editing Proposal ##{number}
    i.text-sm This form should only be used for redacting information from proposals!

    form.mt-3(method='POST' action=`/proposals/${number}`)
      div
        label.text-sm.w-20.inline-block(for='title') Title:
        input.p-1.border.w-full#title(name='title', type='text', value=`${proposal.title}`)
      div
        label.text-sm(for='abstract') Abstract:
        textarea.p-1.border.h-32.w-full#abstract(name='abstract') #{proposal.abstract}
      div
        label.text-sm(for='description') Description:
        textarea.p-1.border.h-32.w-full#description(name='description') #{proposal.description}
      div
        label.text-sm(for='notes') Notes for Committee:
        textarea.p-1.border.h-32.w-full#notes(name='notes') #{proposal.notes}

      div.hidden
        input(name='name' type='hidden' value=`${proposal.name}`)
        input(name='email' type='hidden' value=`${proposal.email}`)
        input(name='avatar' type='hidden' value=`${proposal.avatar}`)
        input(name='location' type='hidden' value=`${proposal.location}`)
        input(name='bio' type='hidden' value=`${proposal.bio}`)
        input(name='twitter' type='hidden' value=`${proposal.twitter}`)
        input(name='url' type='hidden' value=`${proposal.url}`)
        input(name='organization' type='hidden' value=`${proposal.organization}`)
        input(name='talk_format' type='hidden' value=`${proposal.talk_format}`)
        input(name='audience_level' type='hidden' value=`${proposal.audience_level}`)
        input(name='tags' type='hidden' value=`${proposal.tags}`)
        input(name='created_at' type='hidden' value=`${proposal.created_at}`)
        input(name='edited_at' type='hidden' value=`${Date.now()}`)
        input(name='additional_info' type='hidden' value=`${proposal.additional_info}`)

      div.mt-2
        button.float-left.bg-blue-500.text-white.font-bold.py-2.px-4.rounded(class="hover:bg-blue-700" type='submit') Update
        div.float-right.mx-3
          a.text-blue-500(class="hover:text-red-500 active:text-red-500" href=`/proposals/${number}`) Back
